@using Blazored.SessionStorage
@using Wetcardboard_Authentication.Authenticator

@inherits LayoutComponentBase

@inject IAuthenticator authenticator
@inject ISessionStorageService sessionStorage

@inject NavigationManager navigationManager


<PageTitle>Wetcardboard_Utilities</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <NotAuthorized>
                <div class="top-row px-4 login-btn">
                    <a target="_blank" onclick="@Login">Login</a>
                </div>
            </NotAuthorized>

            <Authorized>
                <div class="top-row px-4 login-btn">
                    <a target="_blank" onclick="@Logout">Logout</a>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    void Login()
    {
        authenticator.Authenticate();
    }
    void Logout()
    {
        authenticator.SignOut();
    }
}
