.toast-root {
    position: fixed;
    right: 0;
    z-index: 2;
    max-height: 90vh;
    overflow: hidden;
}

.toast-root-container {
    display: flex;
    flex-direction: column;
    width: 32vw;
    max-width: 32vw;
    align-items: end;
}