<div class="toast-container" onclick="@OnClick">
    <div class="toast-content-container">
        <div class="toast-content">
            <p class="toast-message">
                @Message
            </p>
            <span class="oi oi-x toast-close-icon" aria-hidden="true" />
        </div>
    </div>
</div>